<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063024757901-rsqntlenhqupbvc6n2civfnlui6rll78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063024757901-rsqntlenhqupbvc6n2civfnlui6rll78</string>
	<key>API_KEY</key>
	<string>AIzaSyAKWnCK5AcOWWm6VwYCFlrPdrD-ak6L5GU</string>
	<key>GCM_SENDER_ID</key>
	<string>1063024757901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.yandex.school.todolist.app.todoList</string>
	<key>PROJECT_ID</key>
	<string>yandex-9dea9</string>
	<key>STORAGE_BUCKET</key>
	<string>yandex-9dea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063024757901:ios:5a0382ed3ee758b8c026c4</string>
</dict>
</plist>